@CHARSET "UTF-8";

		.formtable {
			padding: 10px;
			border: 5px solid blue;
		}
		
		input[type=text]{
			width: 250px;
		}
		
		textarea{
			width: 250px;
			height: 200px;
			
		}
		
		.label{
			text-align: right;
			vertical-aling: top;
		}
		
		.control{
			margin-left: 10px;
		}
		
		.error{
			font-size: small;
			color: red;
			margin-left: 10px;
		}
		
		table.offers{
			padding: 10px;
			border: 1px solid blue;
		}
		
		p.error{
			font-size: large;
			color: MediumOrchid;
		}